{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">About</h1>
    <p class="lead">Info about our company</p>
    <hr class="my-2">
    <p>More info</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>

    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam nisi quasi reprehenderit illum nulla animi dolores velit, obcaecati quisquam optio. Aspernatur dolorum illum nisi itaque facere porro mollitia doloribus amet!
    </p>
</div>
{% endblock %}


