{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-3">User Blog Posts</h1>

    <!-- user in user.username is from  user=user in-->
    <!-- return render_template('user_blog_posts.html', blog_posts=blog_posts, user=user) -->
    <p class="lead">Welcome to the page for {{ user.username }}</p>
    <img src="{{ url_for('static', filename='profile_pics/' + user.profile_image) }}" alt="">

    {% for post in blog_post.items %}
    <h2><a href="{{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}">{{ post.title }}</a></h2>
    Written by: <a href="{{ url_for('users.user_post', username=post.author.username) }}">{{ post.author.username }}</a>

    <p class='text-muted'>Published on: {{ post.date.strftime("%Y-%m-%d") }}</p>
    <br>
    <p>{{ post.text }}</p>
    <br>
    {% endfor %}
</div>

<nav aria-label="Page navigation">

    <ul class="pagination justify-content-center">
        <!-- See flask documentation for iter_pages. it's just a special method for pagination in flask -->
        <!-- it's how many pages to the left and right in the pagination bar -->
        {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}

            {% if blog_posts.page == page_num %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
                </li>
            {% endif %}

        {% endfor %}
    </ul>
</nav>

{% endblock %}